html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}


a {
    text-decoration: none;
    color: blue;
}

/* Header CSS */

#header-bg {
    display: flex;
    position: relative;
    bottom: -15px;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(rgb(223, 221, 186) ,rgb(187, 186, 152) 40%, rgb(63, 163, 146));
    height: 2.8em;
    margin: 0 auto;
    border-radius: 50px;
    width: 70%;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

#header-font {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: gold;
}

#header-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

/* LOGIN / SIGNUP CSS */

#login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh; 
    width: 100%; 
    background-color: black; 
    background-image: url(../public/login-bg.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.8);
}

.login-btn {
    margin: 0;
    padding: 0;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px; 
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(4, 0, 36) 50%);
    width: 35%; 
    max-width: 25em; 
    position: absolute; 
    bottom: 0; 
    left: 80px; 
    z-index: 5;
}

/* .dragon-outline {
    display: block;
    position: relative;
    left: -155px;
    top: -335px;
    z-index: -5;
} */
    

@media (max-width: 768px) {
    .login-form {
        margin: 0 auto;
        width: 70%; 
        left: 0;
        right: 0;
    }
    /* .dragon-outline {
        visibility: hidden;
        width: 800px;
        height: 750px;
        bottom: 0;
        top: -250px;
        right: 0;
        left: -100px;
    } */
    
}

.form-input, .login-submit {
    width: 80%;
    background-color: rgb(107, 0, 0);
    border: none;
    height: 45px;
    border-radius: 10px;
    color: white !important;
    outline: none;
}

.form-input {
    padding-left: 10px;
}

.form-input:focus {
    box-shadow: 0px 0px 10px 3px gold;
    transition: box-shadow 0.5s;
}

.form-input::placeholder {
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.178);
}

.form-input:-webkit-autofill {
    background-color: rgb(107, 0, 0) !important; 
    color: white !important;
    border: none;
    box-shadow: 0 0 0px 1000px rgb(107, 0, 0) inset;
}

.form-input:-webkit-autofill::placeholder {
    color: white !important;
    font-size: 15px;
}

.form-input:-webkit-autofill:-webkit-autofill {
    color: white !important; /* Ensure text color is white */
}



.login-submit {
    position: absolute;
    bottom: 20px;
    color: white;
    height: 50px;
    font-weight: bold;
    margin-top: 10px;
    min-width: 83%;
    transition: background-color 0.5s,
    box-shadow 0.5s;
}

.login-submit:hover {
    background-color: rgb(4, 0, 36);
    box-shadow: 0px 0px 5px 5px rgb(107, 0, 0);
    color: black;
}


#login-password {
    position: absolute;
    bottom: 120px;
}

#login-email {
    position: absolute;
    bottom: 220px;
}

#password-text, #email-text {
    margin: 0;
    position: absolute;
    left: 40px;
    color: white;
    bottom: 182px;
}

#email-text {
    bottom: 282px;
}

#login-title {
    position: absolute;
    bottom: 380px;
    font-style: italic;
    font-size: 45px;
    color: gold;
    text-shadow: 5px 5px 8px black;
}

.login-btn-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 45px;
    bottom: 350px;
}

.login-page-buttons {
    height: 45px;
    width: 160px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.login-button {
    background-color: rgb(107, 0, 0);
    background-image: linear-gradient(to left, rgb(4, 0, 36) 40%, rgb(107, 0, 0) 60%);
    background-size: 300% 100%;
    background-position: 0%;
    transition: background-position 1s,
    color 1s,
    box-shadow 0.5s;
    color: white;
}

.login-button:hover {
    background-position: 100%;
    box-shadow: 0 0 5px 5px rgb(107, 0, 0);
}

.register-button {
    background-color: var(--bg-color-light-4);
    background-image: linear-gradient(to left, rgba(4, 0, 36, 0.507) 40%, rgb(4, 0, 36) 60%);
    background-size: 300% 100%;
    background-position: 100%;
    transition: background-position 1s,
    color 1s,
    box-shadow 0.5s;
    color: white;
}

.register-button:hover {
    background-position: 0%;
    box-shadow: 0 0 5px 5px rgb(107, 0, 0);
}

/* STRICTLY SIGNUP PAGE BELOW */

#signup-username {
    position: absolute;
    bottom: 260px;
}

#signup-password {
    position: absolute;
    bottom: 100px;
}

#signup-email {
    position: absolute;
    bottom: 180px;
}

#signup-user-txt, #signup-email-txt, #signup-pass-txt {
    margin: 0;
    position: absolute;
    left: 40px;
    color: white;
}

#signup-user-txt {
    bottom: 315px;
}

#signup-email-txt {
    bottom: 235px;
}

#signup-pass-txt {
    bottom: 155px;
}

#signup-log-btn {
    background-color: var(--bg-color-light-4);
    background-image: linear-gradient(to left, rgb(4, 0, 36) 40%, rgba(4, 0, 36, 0.507) 60%);
    background-size: 300% 100%;
    background-position: 0%;
    transition: background-position 1s,
    color 1s,
    box-shadow 0.5s;
    color: white;
}

#signup-log-btn:hover {
    background-position: 100%;
    box-shadow: 0 0 5px 5px rgb(107, 0, 0);
}

#signup-reg-btn {
    background-color: rgb(107, 0, 0);
    background-image: linear-gradient(to left, rgb(107, 0, 0) 40%,rgb(4, 0, 36) 60%);
    background-size: 300% 100%;
    background-position: 100%;
    transition: background-position 1s,
    color 1s,
    box-shadow 0.5s;
    color: white;
}

#signup-reg-btn:hover {
    background-position: 0%;
    box-shadow: 0 0 5px 5px rgb(107, 0, 0);
}

/* MAIN PAGE */

#main-bg {
    background-image: url(../public/homepage-bg2.webp);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
}
