.xp-bar {
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.xp-fill {
  height: 100%;
  background-color: #76c7c0;
  transition: width 0.3s ease; /* Smooth transition */
  
}

.xp-fill::after{
  content: var(--xp-percentage);
  color: black;
  position: relative;
  left: 260px;
  top: 6px;
}