.hero {
  background-image: url('/Users/ryanshaffer/bootcamp/FitQuest/client/src/assets/greathall.jpg');
  background-size: cover;
  height: 710px;
  width: 710px;
  background-position: center;
}

.center {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
}

.xp-section {
  width: 50%;
  padding: 5px;
  color: white;
  border: 2px solid white;
}

.profile-section {
  width: 50%;
  color: white;
  padding: 5px;
  border: 2px solid white;

}