.hero {
  background-image: url('../greathall.jpg');
  background-size: cover;
  height: 850px;
  width: 1080px;
  background-position: center;
}

.center {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
}

.xp-section {
  width: 50%;
  padding: 5px;
  color: white;
  border: 5px double brown;
}

.profile-section {
  width: 50%;
  color: white;
  padding: 5px;
  border: 5px double brown;

}

li {
  list-style-type: circle;
}

